p {
    color:red;
}
.main{
    text-align: center;
}
.country-list{
    position:absolute;
    float: left;
    text-align: center;
    width: 250px;
}
.list-group{
    overflow:scroll;
    max-height: 1000px;
    overflow-x: hidden;
}
.list-group-item{
    background-color:lightslategray !important;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    max-width: 40pc;
}

.body{
    height: auto;
    background-image: linear-gradient(rgba(255, 255, 255, 0.623), rgb(194, 194, 194));
    background-attachment: fixed;
}