.body{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(155, 155, 155, 0.685), rgb(80, 80, 80));
    background-attachment: fixed;
}

/*Main Container. Children: Country-list, data-container*/
.flex-container{
    display: flex;
}
/*END*/

/*Country-list container*/
.country-list{
    flex: .35;
    border: 2px solid lawngreen;
    text-align: center;
    width: 20%;
}
.list-group{
    overflow:scroll;
    max-height: 550px;
    overflow-x: hidden;
}
.list-group-item{
    background-color:rgb(58, 58, 58) !important;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    max-width: 100%;
}
/*END*/

/*Country data container*/
.data-container{ 
    flex: 1;
    border: 2px solid yellow;
    text-align: center;
    width: 20%;
}

.data-div{
    background-color: white;
    border: 2px solid blue;
    text-align: center;
    padding-top: 15%;
    padding-bottom: 28%;
}
.data-div-header{
    display: inline-block;
    vertical-align: top;
    border: 2px solid red;
}
.data-div-footer{
    display: inline-block;
    vertical-align: bottom;
    border: 2px solid pink;
}
.p-data{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    color: orange;
    text-align: center;
    vertical-align: middle;
}
.data-button{
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*END*/
